In [132]:
import faker
import pandas as pd
from datetime import date
import random
import numpy as np

In [133]:
fake = faker.Faker('pl_PL')

In [134]:
#gamefinity

In [135]:
n = 600
start_date = date(2021,1,4)
end_date = date(2023,6,15)
polish_names_proportion = 0.9
english_names_proportion = 1 - polish_names_proportion


country_probabilities = [0.78, 0.08, 0.04, 0.1]
email_endings_pl = ["@gmail.com", "@wp.pl", "@o2.pl", "@live.com"]
email_endings_de = ["@gmail.com", "@web.de", "@gmx.net", "@live.com"]
email_endings_cs = ["@gmail.com", "@szn.cz", "live.com"]
email_endings_uk = ["@gmail.com", "@mail.ru", "@live.com"]


def generate_customer():
    countries = ["Poland", "Germany", "Czech Republic", "Ukraine"]
    country = random.choices(countries, weights=country_probabilities)[0]
    
    if country == "Poland":
        fake = faker.Faker('pl_PL')
        if random.random() < 0.5:
            x = fake.first_name_female()
            y = fake.last_name_female()
            email = generate_email(x, y) + random.choice(email_endings_pl)
            return x, y, email
        else:
            x = fake.first_name_male()
            y = fake.last_name_male()
            email = generate_email(x, y) + random.choice(email_endings_pl)
            return x, y, email
        
    elif country == "Germany":
        fake = faker.Faker('de_DE')
        if random.random() < 0.5:
            x = fake.first_name_female()
            y = fake.last_name_female()
            email = generate_email(x, y) + random.choice(email_endings_de)
            return x, y, email
        else:
            x = fake.first_name_male()
            y = fake.last_name_male()
            email = generate_email(x, y) + random.choice(email_endings_de)
            return x, y, email
        
    elif country == "Czech Republic":
        fake = faker.Faker('cs_CZ')
        if  random.random() < 0.5:
            x = fake.first_name_female()
            y = fake.last_name_female()
            email = generate_email(x, y) + random.choice(email_endings_cs)
            return x, y, email
        else:
            x = fake.first_name_male()
            y = fake.last_name_male()
            email = generate_email(x, y) + random.choice(email_endings_cs)
            return x, y, email
        
    elif country == "Ukraine":
        fake = faker.Faker('uk_UA')
        if  random.random() < 0.5:
            x = fake.first_name_female()
            y = fake.last_name_female()
            email = generate_email(x, y) + random.choice(email_endings_uk)
            return x, y, email
        else:
            x = fake.first_name_male()
            y = fake.last_name_male()
            email = generate_email(x, y) + random.choice(email_endings_uk)
            return x, y, email

        

def generate_email(first_name, last_name):
    if " " in first_name:
        first_name = first_name.split(" ")[0] 
    email = first_name[0 : random.randint(2, len(first_name)-1)] + last_name[0 : random.randint(2, len(last_name)-1)] 
    email += str(random.choices(['', random.randint(0,100)], weights=[0.4,0.6])[0])
    return email

In [136]:
generate_customer()

('Ada', 'Bak', 'AdBa@o2.pl')

In [137]:
customers = {
    'customer_id': [_+1 for _ in range(n)],
    'first_name': ["s" for _ in range(n)],
    'last_name': ["a" for _ in range(n)],
    'birthdate': [fake.date_of_birth(minimum_age=13, maximum_age=80) for _ in range(n)],
    'VIP': [_ for _ in range(n)],
    'points': [_ for _ in range(n)],
    'email': ["s" for _ in range(n)],
    'phone': [random.randint(100000000,999999999) for _ in range(n)],
    'address_id': [_ for _ in range(n)],
    'registration_date': [fake.date_between(start_date=start_date,end_date=end_date) for _ in range(n)]
}

df_customers = pd.DataFrame(customers)

for i in range(n):
    df_customers.at[i,"first_name"], df_customers.at[i,"last_name"], df_customers.at[i,"email"] = generate_customer()
    
df_customers["address_id"] = random.sample([i for i in range(n)], n)
    
df_customers

,customer_id,first_name,last_name,birthdate,VIP,points,email,phone,address_id,registration_date
0,1,Jonathan,Barth,1954-09-16,0,0,JonatBa@live.com,961818759,431,2021-11-26
1,2,Adrianna,Murach,1958-12-10,1,1,AdriMu@live.com,798249512,578,2021-01-05
2,3,Валентин,Бараник,1986-04-11,2,2,ВалентБара20@live.com,792508795,369,2023-04-04
3,4,Gabriel,Gorol,1991-05-07,3,3,GabrieGor48@wp.pl,376027543,563,2021-10-14
4,5,Grzegorz,Bochnak,1998-04-12,4,4,GrzeBoch5@live.com,399671378,41,2022-10-11
...,...,...,...,...,...,...,...,...,...,...
595,596,Anita,Sulik,1954-02-11,595,595,AnSul32@wp.pl,310367229,214,2021-06-18
596,597,Jakub,Anders,1978-05-20,596,596,JakAnder57@live.com,962425253,347,2023-04-28
597,598,Ida,Dorociak,2004-08-01,597,597,IdDoroc87@o2.pl,882777081,99,2021-10-23
598,599,Eliza,Bartkowicz,1989-01-30,598,598,ElBa@o2.pl,167166468,286,2021-02-11
599,600,Fryderyk,Szurek,1980-05-30,599,599,FryderSzure@o2.pl,423686023,274,2021-03-17

In [138]:
df_rental = pd.read_csv('rental.csv')
df_rental

,Unnamed: 0,rental_id,inventory_id,rental_date,return_date,game_id,customer_id,staff_id
0,5142,1,125,2021-01-04,2021-01-13,21,197,1
1,11801,2,283,2021-01-04,2021-01-15,22,369,1
2,19711,3,475,2021-01-04,2021-01-08,27,385,1
3,11890,4,285,2021-01-04,2021-01-07,13,72,1
4,19583,5,472,2021-01-04,2021-01-04,38,363,1
...,...,...,...,...,...,...,...,...
20712,7954,20713,189,2023-06-15,NaN,47,386,4
20713,14737,20714,352,2023-06-15,NaN,34,108,2
20714,2343,20715,55,2023-06-15,NaN,29,217,1
20715,6745,20716,161,2023-06-15,NaN,7,328,5
20716,11146,20717,266,2023-06-15,NaN,32,369,1

In [139]:
temp = {
    'customer_id': [i+1 for i in range(n)],
    'count': [0]*n,
    'date': [None]*n
}

df_temp = pd.DataFrame(temp)

df_temp
        

# client_id - 1 jak poprawimy zeby rentale mialy customer_id od 1 a nie od 0    
    
for i in range( len(df_rental) ):
    client_id = df_rental["customer_id"][i]
    
    df_temp.at[client_id,"count"] = df_temp["count"][client_id] + 1
    
    if df_temp["count"][client_id] == 10:
        df_temp.at[client_id,"date"] = df_rental["return_date"][i]

In [140]:
df_temp

     customer_id  count        date
0              1     58  2021-06-23
1              2     47  2021-05-24
2              3     54  2021-04-02
3              4     45  2021-06-30
4              5     46  2021-07-07
..           ...    ...         ...
595          596      0        None
596          597      0        None
597          598      0        None
598          599      0        None
599          600      0        None

[600 rows x 3 columns]

In [141]:
df_customers["VIP"] = df_temp["date"]
df_customers

,customer_id,first_name,last_name,birthdate,VIP,points,email,phone,address_id,registration_date
0,1,Jonathan,Barth,1954-09-16,2021-06-23,0,JonatBa@live.com,961818759,431,2021-11-26
1,2,Adrianna,Murach,1958-12-10,2021-05-24,1,AdriMu@live.com,798249512,578,2021-01-05
2,3,Валентин,Бараник,1986-04-11,2021-04-02,2,ВалентБара20@live.com,792508795,369,2023-04-04
3,4,Gabriel,Gorol,1991-05-07,2021-06-30,3,GabrieGor48@wp.pl,376027543,563,2021-10-14
4,5,Grzegorz,Bochnak,1998-04-12,2021-07-07,4,GrzeBoch5@live.com,399671378,41,2022-10-11
...,...,...,...,...,...,...,...,...,...,...
595,596,Anita,Sulik,1954-02-11,None,595,AnSul32@wp.pl,310367229,214,2021-06-18
596,597,Jakub,Anders,1978-05-20,None,596,JakAnder57@live.com,962425253,347,2023-04-28
597,598,Ida,Dorociak,2004-08-01,None,597,IdDoroc87@o2.pl,882777081,99,2021-10-23
598,599,Eliza,Bartkowicz,1989-01-30,None,598,ElBa@o2.pl,167166468,286,2021-02-11
599,600,Fryderyk,Szurek,1980-05-30,None,599,FryderSzure@o2.pl,423686023,274,2021-03-17

In [142]:
df_customers.to_csv("customers.csv", index=False)