In [3]:
import faker
import pandas as pd
from datetime import date
import random
import numpy as np

In [4]:
fake = faker.Faker('pl_PL')

In [5]:
#gamefinity

In [6]:
n = 600
start_date = date(2021,1,4)
end_date = date(2023,6,15)
polish_names_proportion = 0.9
english_names_proportion = 1 - polish_names_proportion


country_probabilities = [0.78, 0.08, 0.04, 0.1]
email_endings_pl = ["@gmail.com", "@wp.pl", "@o2.pl", "@live.com"]
email_endings_de = ["@gmail.com", "@web.de", "@gmx.net", "@live.com"]
email_endings_cs = ["@gmail.com", "@szn.cz", "live.com"]
email_endings_uk = ["@gmail.com", "@mail.ru", "@live.com"]


def generate_customer():
    countries = ["Poland", "Germany", "Czech Republic", "Ukraine"]
    country = random.choices(countries, weights=country_probabilities)[0]
    
    if country == "Poland":
        fake = faker.Faker('pl_PL')
        if random.random() < 0.5:
            x = fake.first_name_female()
            y = fake.last_name_female()
            email = generate_email(x, y) + random.choice(email_endings_pl)
            return x, y, email
        else:
            x = fake.first_name_male()
            y = fake.last_name_male()
            email = generate_email(x, y) + random.choice(email_endings_pl)
            return x, y, email
        
    elif country == "Germany":
        fake = faker.Faker('de_DE')
        if random.random() < 0.5:
            x = fake.first_name_female()
            y = fake.last_name_female()
            email = generate_email(x, y) + random.choice(email_endings_de)
            return x, y, email
        else:
            x = fake.first_name_male()
            y = fake.last_name_male()
            email = generate_email(x, y) + random.choice(email_endings_de)
            return x, y, email
        
    elif country == "Czech Republic":
        fake = faker.Faker('cs_CZ')
        if  random.random() < 0.5:
            x = fake.first_name_female()
            y = fake.last_name_female()
            email = generate_email(x, y) + random.choice(email_endings_cs)
            return x, y, email
        else:
            x = fake.first_name_male()
            y = fake.last_name_male()
            email = generate_email(x, y) + random.choice(email_endings_cs)
            return x, y, email
        
    elif country == "Ukraine":
        fake = faker.Faker('uk_UA')
        if  random.random() < 0.5:
            x = fake.first_name_female()
            y = fake.last_name_female()
            email = generate_email(x, y) + random.choice(email_endings_uk)
            return x, y, email
        else:
            x = fake.first_name_male()
            y = fake.last_name_male()
            email = generate_email(x, y) + random.choice(email_endings_uk)
            return x, y, email

        

def generate_email(first_name, last_name):
    if " " in first_name:
        first_name = first_name.split(" ")[0] 
    email = first_name[0 : random.randint(2, len(first_name)-1)] + last_name[0 : random.randint(2, len(last_name)-1)] 
    email += str(random.choices(['', random.randint(0,100)], weights=[0.4,0.6])[0])
    return email

In [7]:
generate_customer()

('Jan', 'Biggen', 'JaBigge@gmail.com')

In [8]:
customers = {
    'customer_id': [_+1 for _ in range(n)],
    'first_name': ["s" for _ in range(n)],
    'last_name': ["a" for _ in range(n)],
    'birthdate': [fake.date_of_birth(minimum_age=13, maximum_age=80) for _ in range(n)],
    'VIP': [_ for _ in range(n)],
    'points': [_ for _ in range(n)],
    'email': ["s" for _ in range(n)],
    'phone': [random.randint(100000000,999999999) for _ in range(n)],
    'address_id': [_ for _ in range(n)],
    'registration_date': [fake.date_between(start_date=start_date,end_date=end_date) for _ in range(n)]
}

df_customers = pd.DataFrame(customers)

for i in range(n):
    df_customers.at[i,"first_name"], df_customers.at[i,"last_name"], df_customers.at[i,"email"] = generate_customer()
    
df_customers["address_id"] = random.sample([i for i in range(n)], n)
    
df_customers

,customer_id,first_name,last_name,birthdate,VIP,points,email,phone,address_id,registration_date
0,1,Fryderyk,Mydlarz,1976-08-13,0,0,FryderyMyd79@gmail.com,131397171,223,2021-04-16
1,2,Peter,Procházka,1983-03-31,1,1,PePr54live.com,680203882,141,2022-01-26
2,3,Klara,Hadaś,1976-01-19,2,2,KlHad@live.com,922589254,493,2021-01-08
3,4,Emil,Tutka,1943-05-07,3,3,EmTu42@o2.pl,985998316,209,2021-11-09
4,5,Maciej,Elert,1954-06-16,4,4,MacEl53@live.com,744618691,227,2021-05-08
...,...,...,...,...,...,...,...,...,...,...
595,596,Kamila,Nastaj,1970-09-03,595,595,KamilNast14@live.com,972827430,305,2022-05-31
596,597,Aniela,Ślęczka,1962-11-27,596,596,AnieŚlęczk@live.com,842903696,323,2022-09-13
597,598,Blanka,Fialová,1981-12-31,597,597,BlaFial89@gmail.com,268338060,500,2021-12-13
598,599,Ivo,Sedláček,1994-02-09,598,598,IvSe8@gmail.com,215781618,289,2022-12-29
599,600,Norbert,Łokaj,2003-09-19,599,599,NorbeŁok@wp.pl,780017863,388,2023-05-30

In [9]:
df_rental = pd.read_csv('rental.csv')
df_rental

,Unnamed: 0,rental_id,inventory_id,rental_date,return_date,game_id,customer_id,staff_id
0,16184,1,390,2021-01-04,2021-01-12,13,34,1
1,8152,2,196,2021-01-04,2021-01-04,39,34,1
2,12329,3,298,2021-01-04,2021-01-13,35,34,1
3,1802,4,43,2021-01-04,2021-01-19,33,34,1
4,9642,5,233,2021-01-04,2021-01-09,5,34,1
...,...,...,...,...,...,...,...,...
20548,7466,20549,178,2023-06-15,NaN,22,180,4
20549,3851,20550,92,2023-06-15,NaN,1,187,4
20550,8483,20551,203,2023-06-15,NaN,22,34,2
20551,7506,20552,179,2023-06-15,2023-06-15,13,26,5
20552,3671,20553,88,2023-06-15,NaN,13,301,1

In [12]:
temp = {
    'customer_id': [i+1 for i in range(n)],
    'count': [0]*n,
    'date': [None]*n
}

df_temp = pd.DataFrame(temp)

df_temp
        

# client_id - 1 jak poprawimy zeby rentale mialy customer_id od 1 a nie od 0    
    
for i in range( len(df_rental) ):
    client_id = df_rental["customer_id"][i]
    
    df_temp.at[client_id - 1,"count"] = df_temp["count"][client_id- 1] + 1
    
    if df_temp["count"][client_id-1] == 10:
        df_temp.at[client_id-1,"date"] = df_rental["return_date"][i]

In [13]:
df_temp

     customer_id  count        date
0              1      0        None
1              2     91  2021-04-01
2              3     31  2022-04-05
3              4     35  2022-06-15
4              5    118  2021-03-08
..           ...    ...         ...
595          596     16  2023-02-03
596          597     27  2022-08-05
597          598     81  2021-05-06
598          599     32  2022-08-02
599          600     16  2023-02-28

[600 rows x 3 columns]

In [14]:
df_customers["VIP"] = df_temp["date"]
df_customers

,customer_id,first_name,last_name,birthdate,VIP,points,email,phone,address_id,registration_date
0,1,Fryderyk,Mydlarz,1976-08-13,None,0,FryderyMyd79@gmail.com,131397171,223,2021-04-16
1,2,Peter,Procházka,1983-03-31,2021-04-01,1,PePr54live.com,680203882,141,2022-01-26
2,3,Klara,Hadaś,1976-01-19,2022-04-05,2,KlHad@live.com,922589254,493,2021-01-08
3,4,Emil,Tutka,1943-05-07,2022-06-15,3,EmTu42@o2.pl,985998316,209,2021-11-09
4,5,Maciej,Elert,1954-06-16,2021-03-08,4,MacEl53@live.com,744618691,227,2021-05-08
...,...,...,...,...,...,...,...,...,...,...
595,596,Kamila,Nastaj,1970-09-03,2023-02-03,595,KamilNast14@live.com,972827430,305,2022-05-31
596,597,Aniela,Ślęczka,1962-11-27,2022-08-05,596,AnieŚlęczk@live.com,842903696,323,2022-09-13
597,598,Blanka,Fialová,1981-12-31,2021-05-06,597,BlaFial89@gmail.com,268338060,500,2021-12-13
598,599,Ivo,Sedláček,1994-02-09,2022-08-02,598,IvSe8@gmail.com,215781618,289,2022-12-29
599,600,Norbert,Łokaj,2003-09-19,2023-02-28,599,NorbeŁok@wp.pl,780017863,388,2023-05-30

In [15]:
df_customers.to_csv("customers.csv", index=False)