In [2]:
import pandas as pd
import numpy as np

In [11]:
n = 10

In [16]:
tournaments_dict = {'tournament_id' : [_ for _ in range(n)],
                    'name' : ['tournament{}'.format(i) for i in range(n)],
                    'date' : ['date{}'.format(i) for i in range(n)],
                    'team_players_number' : [np.random.randint(0,10) for i in range(n)],
                    'game_id' : [_ for _ in range(n)],
                    'staff_id' : [_ for _ in range(n)],
                    'total_players_number' : [np.random.randint(0,40) for i in range(n)]
}

In [17]:
pd.DataFrame(tournaments_dict)

,tournament_id,name,date,team_players_number,game_id,staff_id,total_players_number
0,0,tournament0,date0,8,0,0,6
1,1,tournament1,date1,1,1,1,22
2,2,tournament2,date2,2,2,2,10
3,3,tournament3,date3,8,3,3,30
4,4,tournament4,date4,3,4,4,11
5,5,tournament5,date5,8,5,5,31
6,6,tournament6,date6,9,6,6,6
7,7,tournament7,date7,2,7,7,11
8,8,tournament8,date8,1,8,8,39
9,9,tournament9,date9,9,9,9,30