In [12]:
import pandas as pd
import numpy as np
import datetime

In [3]:
n = 10

In [4]:
tournaments_dict = {'tournament_id' : [_ for _ in range(n)],
                    'name' : ['tournament{}'.format(i) for i in range(n)],
                    'date' : ['date{}'.format(i) for i in range(n)],
                    'team_players_number' : [np.random.randint(0,10) for i in range(n)],
                    'game_id' : [_ for _ in range(n)],
                    'staff_id' : [_ for _ in range(n)],
                    'total_players_number' : [np.random.randint(0,40) for i in range(n)]
}

In [5]:
tournaments = pd.DataFrame(tournaments_dict)

In [43]:
tournaments.iloc[0] = [1, 'Cosmic Entertainment', datetime.date(2021,1,22), 1, 9, 1, 16]
tournaments

,tournament_id,name,date,team_players_number,game_id,staff_id,total_players_number
0,1,Cosmic Entertainment,2021-01-22,1,9,1,16
1,1,tournament1,date1,5,1,1,23
2,2,tournament2,date2,7,2,2,13
3,3,tournament3,date3,0,3,3,34
4,4,tournament4,date4,6,4,4,37
5,5,tournament5,date5,0,5,5,25
6,6,tournament6,date6,2,6,6,37
7,7,tournament7,date7,8,7,7,21
8,8,tournament8,date8,0,8,8,9
9,9,tournament9,date9,9,9,9,19

In [44]:
tournaments

,tournament_id,name,date,team_players_number,game_id,staff_id,total_players_number
0,1,Cosmic Entertainment,2021-01-22,1,9,1,16
1,1,tournament1,date1,5,1,1,23
2,2,tournament2,date2,7,2,2,13
3,3,tournament3,date3,0,3,3,34
4,4,tournament4,date4,6,4,4,37
5,5,tournament5,date5,0,5,5,25
6,6,tournament6,date6,2,6,6,37
7,7,tournament7,date7,8,7,7,21
8,8,tournament8,date8,0,8,8,9
9,9,tournament9,date9,9,9,9,19

In [47]:
tournaments.iloc[1] = [2, 'Battlefields of Bonaparte', datetime.date(2021,6,16), 1, 27, 3, 30]
tournaments

,tournament_id,name,date,team_players_number,game_id,staff_id,total_players_number
0,1,Cosmic Entertainment,2021-01-22,1,9,1,16
1,2,Battlefields of Bonaparte,2021-06-16,1,27,3,30
2,2,tournament2,date2,7,2,2,13
3,3,tournament3,date3,0,3,3,34
4,4,tournament4,date4,6,4,4,37
5,5,tournament5,date5,0,5,5,25
6,6,tournament6,date6,2,6,6,37
7,7,tournament7,date7,8,7,7,21
8,8,tournament8,date8,0,8,8,9
9,9,tournament9,date9,9,9,9,19

In [23]:
inventory_table = pd.read_csv('inventory_rent.csv')

In [34]:
def games_for_tournament(id_value):
    """
    Function that returns a number of pieces that can be used in tournament. 
    Always left one piece for rental.
    param value: id of the game
    """
    return((inventory_table.game_id == id_value).sum() - 1)

In [42]:
games_for_tournament(27)

15

In [41]:
inventory_table.game_id.value_counts()

game_id
13    69
22    45
32    32
39    24
1     23
4     22
7     21
10    20
29    20
19    19
35    17
27    16
36    15
5     12
33    11
44    10
6     10
24     9
42     8
37     8
38     7
40     7
25     6
3      6
21     5
2      5
11     5
26     5
46     5
34     4
9      4
28     4
47     3
31     3
30     3
17     3
50     2
41     2
45     1
18     1
43     1
48     1
23     1
14     1
16     1
15     1
8      1
20     1
Name: count, dtype: int64