In [1]:
import pandas as pd
import numpy as np
import datetime

In [37]:
n = 10

In [38]:
tournaments_dict = {'tournament_id' : [_ for _ in range(n)],
                    'name' : ['tournament{}'.format(i) for i in range(n)],
                    'date' : ['date{}'.format(i) for i in range(n)],
                    'team_players_number' : [np.random.randint(0,10) for i in range(n)],
                    'game_id' : [_ for _ in range(n)],
                    'staff_id' : [_ for _ in range(n)],
                    'total_players_number' : [np.random.randint(0,40) for i in range(n)]
}

In [39]:
tournaments = pd.DataFrame(tournaments_dict)

In [41]:
tournaments.iloc[0] = [1, 'Cosmic Entertainment', datetime.date(2021,1,22), 1, 9, 1, 12]
tournaments.iloc[1] = [2, 'Battlefields of Bonaparte', datetime.date(2021,6,16), 1, 27, 3, 30]
tournaments.iloc[2] = [3, 'The Kobolds', datetime.date(2021,9,8), 2, 33, 4, 32]
tournaments.iloc[3] = [4, 'Gaming Evening', datetime.date(2021,12,20), 1, 33, 2, 32]
tournaments.iloc[4] = [5, 'Hamst&Furious', datetime.date(2022,1,4), 1, 7,2,37]
tournaments.iloc[5] = [6, 'Indian Camp', datetime.date(2022,7,28), 1, 5,3,40]
tournaments.iloc[6] = [7, 'Vietgame', datetime.date(2022,10,2), 1, 36,1,16] ## niedziela
tournaments.iloc[7] = [8, 'Thematic Contest', datetime.date(2023,1,19), 2, 6,4,36]
tournaments.iloc[8] = [9, 'Spring Tournament', datetime.date(2023,3,25), 1, 1,1,30]
tournaments.iloc[9] = [10, 'Star Trek Day', datetime.date(2023,6,7), 1, 19,2,8]
tournaments

,tournament_id,name,date,team_players_number,game_id,staff_id,total_players_number
0,1,Cosmic Entertainment,2021-01-22,1,9,1,12
1,2,Battlefields of Bonaparte,2021-06-16,1,27,3,30
2,3,The Kobolds,2021-09-08,2,33,4,32
3,4,Gaming Evening,2021-12-20,1,33,2,32
4,5,Hamst&Furious,2022-01-04,1,7,2,37
5,6,Indian Camp,2022-07-28,1,5,3,40
6,7,Vietgame,2022-10-02,1,36,1,16
7,8,Thematic Contest,2023-01-19,2,6,4,36
8,9,Spring Tournament,2023-03-25,1,1,1,30
9,10,Star Trek Day,2023-06-07,1,19,2,8

In [8]:
inventory_table = pd.read_csv('inventory_rent.csv')

In [12]:
def games_for_tournament(id_value):
    """
    Function that returns a number of pieces that can be used in tournament. 
    Always left one piece for rental.
    param value: id of the game
    """
    return((inventory_table.game_id == id_value).sum() - 1)

In [35]:
games_for_tournament(9)

3

In [41]:
inventory_table.game_id.value_counts()

game_id
13    69
22    45
32    32
39    24
1     23
4     22
7     21
10    20
29    20
19    19
35    17
27    16
36    15
5     12
33    11
44    10
6     10
24     9
42     8
37     8
38     7
40     7
25     6
3      6
21     5
2      5
11     5
26     5
46     5
34     4
9      4
28     4
47     3
31     3
30     3
17     3
50     2
41     2
45     1
18     1
43     1
48     1
23     1
14     1
16     1
15     1
8      1
20     1
Name: count, dtype: int64

In [43]:
tournaments.to_csv('tournaments.csv', index = False)